.main-footer {
  background: #000;
  color: #fff;
  opacity: 0.8;
  font-size: 16px;
  font-family: sans-serif;
  .footer-section {
    .footer-widget {
      width: 20%;
      ul {
        list-style-type: none;
        @media screen and (max-width: 980px) {
          padding-left: 0;
        }
        li {
          text-decoration: none;
          line-height: 1.8;
          a {
            text-decoration: none;
            color: #fff;
            transition: 1s;
          }
          a:hover {
            //color: #FF8500;
            color: #8ccefd;
          }
        }
        .footer-title {
          //color: #FF8500;
          color: #FFF;
          font-size: 24px;
          font-weight: bold;
          line-height: normal;
        }
        .footer-mini-title {
          color: #8ccefd;
          font-weight: bold;
          
        }
      }
      @media screen and (max-width: 980px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}
