@import "variables.scss";

.main {
  background: #ffce99;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0% 4% 0%;

    .article-title {
      width: 90%;
      margin-bottom: 1%;
      .main-title {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #FFF;
        text-shadow: 0.08em 0.08em 0.15em rgba(0,0,0,0.4);
      }
    }

    .article-full {
      width: $widtharticle;

      .full-widget {
        margin: 0% 0% 2% 0%;
        padding: 2% 5%;
        width: 100%;
        box-sizing: border-box;
        background-color: $widgetbg;
        -webkit-box-shadow: $widgetshadow-diagonal;
        -moz-box-shadow: $widgetshadow-diagonal;
        box-shadow: $widgetshadow-diagonal;
      }
    }

    .article-half {
      width: $widtharticle;

      .half-widget {
        width: 45%;
        margin: 0% 0% 2% 0%;
        padding: 2% 1.5%;
        background-color: $widgetbg;
        -webkit-box-shadow: $widgetshadow-diagonal;
        -moz-box-shadow: $widgetshadow-diagonal;
        box-shadow: $widgetshadow-diagonal;

        @media screen and (max-width: 980px) {
          width:100%;
          padding: 5% 5%;
        }
      }

      .home-size {
        min-height: 150px;
      }

      .team-size {
        min-height: 350px;
        @media screen and (max-width: 980px) {
          min-height: 150px;
        }
      }
    }

    .article-onethird {
      width: $widtharticle;

      .onethird-widget {
        width: 28%;
        min-height: 150px;
        margin: 0% 0% 2% 0%;
        padding: 2% 1.5%;
        background-color: $widgetbg;
        -webkit-box-shadow: $widgetshadow-diagonal;
        -moz-box-shadow: $widgetshadow-diagonal;
        box-shadow: $widgetshadow-diagonal;

        @media screen and (max-width: 980px) {
          width:100%;
        }
      }

      .onethird-image-widget {
        width: 28%;
        min-height: 150px;
        margin: 0% 0% 2% 0%;
        padding: 2% 1.5%;

        a {
          width: 100%;
          img {
            width: 100%;
          }

          @media screen and (max-width: 980px) {
            width: 60%;
          }
        }

        @media screen and (max-width: 980px) {
          width:100%;
        }
      }
    }

    .widget-title {
      color: #fff;
      margin: 0% 0% 0% 0%;
    }

    .widget-text {
      color: #fff;
      font-size: 16px;
    }

    .widget-image {
      width: 250px;
      height: 250px;
    }

    .widget-textbox {
      height: 80%;
      width: 45%;
    }

    .center-text {
      text-align: center;
    }

    .wrappedimage-about {
      width: 225px;
      height: 312.75px;
      float: left;
      margin: 10px 25px 10px 0px;
      border-radius: 50%;
      shape-outside: ellipse();

      @media screen and (max-width: 980px) {
        display: none;
      }
    }

    .wrappedimage-team {
      width: 225px;
      height: 225px;
      float: left;
      margin: 10px 25px 10px 0px;
      border-radius: 50%;
      shape-outside: circle();

      @media screen and (max-width: 980px) {
        display: none;
      }
    }
  }
}
