@import "variables.scss";

.main-header {
  background: #fff;
  padding: 0.5% 5%;

  @media only screen and (max-width: 980px) {

  }

  .logo-container {
    width:$logo;
    height:$logo;
    .logo {
      width:$logo;
      height:$logo;
    }

    @media only screen and (max-width: 980px) {
      display: none;
    }
  }

  .main-nav, .mobile-nav {
    width:80%;
    .desktop-ul, .mobile-ul {
      width:100%;
      list-style-type: none;
      li {
        a {
          text-decoration: none;
          font-size: 16px;
          font-family: $mainfont;
          color: #000;
          text-transform: uppercase;
          font-weight: bold;
          line-height: 1.8;
          padding: 10px;
        }
      }
      @media only screen and (max-width: 980px) {
        padding-left: 0;
      }
    }
    @media only screen and (max-width: 980px) {
      width: 100%;
    }
  }

  @media only screen and (min-width: 768px) {
    .mobile-nav {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .main-nav {
      display: none;
    }
  }

  .clock {
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0% 0% 0% 8%;
    @media only screen and (max-width: 980px) {

    }
    @media only screen and (max-width: 767px) {
      margin: 0% 0% 4% 0%;
    }
  }
}
