@import "variables.scss";

.main-header {
  background: #fff;
  padding: 0.5% 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;

  @media only screen and (max-width: 980px) {
    justify-content: space-between;
  }

  .logo-container {
    width:$logo;
    height:$logo;
    .logo {
      width:$logo;
      height:$logo;
    }

    @media only screen and (max-width: 980px) {
      display: none;
    }
  }

  .main-nav {
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    ul {
      width:100%;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      li {
        a {
          text-decoration: none;
          font-size: 16px;
          font-family: $mainfont;
          color: #000;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }

  .clock {
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0% 0% 0% 8%;
  }

  .mobile-menu {
    display: none;
  }
}
