@import "grid.min.css";
@import "top-header.min.css";
@import "main-header.min.css";
@import "main.min.css";
@import "footer.min.css";
@import "variables.scss";
@import "flexbox.min.css";

html {
  scroll-behavior: smooth;
}

body {
  margin:0;
  // background-image: url("../img/bodybg.jpg");
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
  font-family: $mainfont;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
